<template>
	<section class="question-answer">
		<div class="answers" v-for="(node, index) in data.items" :index="index">					
			<div class="question" @click="node.toggle = !node.toggle">				
				<h3>{{ node.question.title }}</h3>
			</div>
		
			<div class="answer" v-show="node.toggle">
				<p>{{ node.text }}</p>
			</div>
		</div>
	</section>
</template>

<script>
import { getLandAnswers } from '../../../api/answer.service.js'
export default {
	name: "Answer",
  props: {
	  initiativeId: {
	    required: true      
	  }
	},
  data() {
    return {
    	data: [],
    	selected: 0
    }
  },
  methods: {
  	get(id, limit) {	
			getLandAnswers(id, limit)
				.then((data) => {
					data.data.items.map( (node, index) => {
						node.toggle = false
					})
					
					this.data = data.data
				},
				(error) => {
					// console.info("Data answers error:", error)
				})
		}		
  },
  watch: {
  	initiativeId(value) {
  		if(value != '') {
  			this.get(value, 30)
  		}
  	}
  }
}	
</script>

<style type="text/css">
	.question {
		border-bottom: 1px solid #c5c5c5;
		padding: 16px 10px;
		margin-bottom: 0 !important;
		margin-top: 0 !important;
	}
	.question:hover {
		background: #f5f5f5; 
		cursor: pointer;
	}
	.question h3 {
		margin: 0 !important; 
	}
	.answer {
		background: #f5f5f5;
		border-bottom: 1px solid rgba(0,0,0,.1);
		padding: 16px 10px;
	}
</style>