<template>
  <div class="container">
    <div class="inititives">      
      <div class="inner">

        <Grid :data="data">
          <template slot="itemgrid" slot-scope="data">   
            <div class="card">
              <figure class="image is-4by3">
                <router-link :to="{ name: 'initiative', params: { id: data.col.slug }}">
                  <img :src="data.col.coverImage.urls['570x370']" alt="" />
                </router-link>
              </figure>

  						<div class="card-content is-centered">
  							<div class="content">
  								<h3 class="mont-title">
                    <router-link :to="{ name: 'initiative', params: { id: data.col.slug }}">
                    {{ sliceString(data.col.title, 44) }}
                    </router-link>
                  </h3>
  								
  								<div class="actions">
  									<span class="action view" v-tooltip.top-center="data.col.actionViewCount ? 'Visualizações' : 'Visualização'">
  										<img src="../../../assets/imgs/actions/actionView.png" alt="" />
  										<span class="sum">{{data.col.actionViewCount}}</span>
  									</span>
  									<span class="action fav" v-tooltip.top-center="data.col.actionFavoriteCount ? 'Favoritos' : 'Favorito'">
  										<img src="../../../assets/imgs/actions/actionFavorite.png" alt="" />
  										<span class="sum">{{data.col.actionFavoriteCount}}</span>
  									</span>
  									<span class="action like" v-tooltip.top-center="data.col.actionLikeCount ? 'Curtidas' : 'Curtiu'">
  										<img src="../../../assets/imgs/actions/actionLike.png" alt="" />
  										<span class="sum">{{data.col.actionLikeCount}}</span>
  									</span>
  									<span class="action com" v-tooltip.top-center="data.col.actionCommentCount > 1 ? 'Comentários' : 'Comentário'">
  										<img src="../../../assets/imgs/actions/actionComment.png" alt="" />
  										<span class="sum">{{data.col.actionCommentCount}}</span>
  									</span>
  									<span class="action share" v-tooltip.top-center="data.col.actionShareCount > 1 ? 'Compartilhamentos' : 'Compartilhado'">
  										<img src="../../../assets/imgs/actions/actionShare.png" alt="" />
  										<span class="sum">{{data.col.actionShareCount}}</span>
  									</span>
  									<span class="action support"  v-tooltip.top-center="data.col.actionDonateCount > 1 ? 'Doações' : 'Doação'">
  										<img src="../../../assets/imgs/actions/actionDonate.png" alt="" />
  										<span class="sum">{{data.col.actionDonateCount}}</span>
  									</span>
  								</div>	
  														
  								<p class="tags">
  									<span>{{ implodeTags( data.col.tags) }}</span>
  								</p>
  							</div>
  						</div>

              <footer class="card-footer has-text-centered">
                <div class="inner">
                  <ul>                
                    <li>
                      <img src="../../../assets/imgs/ods.png" alt="ODS" class="ico-ods" />
                    </li>

                    <li class="odss">
                      <span 
                        class="ods" 
                        v-tooltip.top-center="ods.title"
                        :style="{ 'background-color': ods.color }" v-for="(ods, odsIndex) in data.col.ods" :key="odsIndex">
                        {{ ods.number }}
                      </span>
                    </li>
                  </ul>
                </div>  
              </footer>
            </div>
          </template>
        </Grid>

        <pagination :total="pagerCtrl.total" :change="get" size="small" layout="pager" v-if="data.length > 0"></pagination>
      </div>


      <div class="preload" v-if="preload"><img src="../../../assets/imgs/preload.svg" alt="Carregando dados" /></div>

      <div class="message is-warning"  v-if="(data.length == 0 && !preload)">
        <div class="message-body has-text-centered">Não localizamos iniciativas com o termo pesquisado. :(</div>
      </div> 

    </div>
  </div>
</template>

<script type="text/javascript">
import { getLandInitiatives } from '../../../api/initiative.service.js'
import Grid from './grid.vue'

export default {
  name: "Initiative",
  components: { Grid },
  props: {
    filterValue: {
      type: Object
    }
  },
  data(){
    return {
      preload: false,
      data: [],
      filter: {
        q: '',
        ods: {},
        actionType: ''
      },
      pagerCtrl: {
        limit: 9,
        skip: 0,
        total: 0
      },
    }
  },
  methods: {
    get(page = 1){
      this.preload = true;
      const f = { q: this.filter.q, ods: this.filter.ods.id, actionType: this.filter.actionType }
      getLandInitiatives(9, this.pagerCtrl.limit * (page - 1), f)
        .then(data => {
          this.preload = false;
          this.data = data.data.items
          this.pagerCtrl.limit = data.data.limit
          this.pagerCtrl.total = data.data.total

          console.info(data.data);
        },
        (error) => {
          this.preload = false;
        })
    },
    implodeTags(tags) {
      let _tags = []

      for(let tag of tags)
        _tags.push(tag.text)

      return _tags.join(", ")
    },
    sliceString(text, limit) {
      if (text && text.length > limit + 3) {
        return `${text.slice(0, limit - text.length)}...`
      }
      return text
    }
  },
  created() {
    this.get()
  },
  watch: {
    filterValue: {
      handler: function(value) {
        if (value) {
          if (value.q) {
            this.filter.q = value.q
          }
          if (value.ods) {
            this.filter.ods = value.ods
          }
          if (value.actionType) {
            this.filter.actionType = value.actionType
          }
          this.get()
        }
      },
      deep: true
    }      
  }
}
</script>

<style scoped lang="scss">
  .preload {
      margin: 60px auto; 
      text-align: center !important;

      img {
        height: 40px;
        width: 40px; 
      }
  }

  .inititives {
    margin-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;    
  }

  @media (min-width: 768px) {
    .inititives {
      padding-left: 0 !important;
      padding-right: 0 !important;    
    }
  }

  .inititives .pagination {
    margin-top: 30px !important;
  }
  
  .card {
    border-radius: 20px;
    height: 560px;
    min-width: 100%;
    max-width: 100% !important;
  }

  figure img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .card-content h3.mont-title {
    text-align: center;
    a {
      color: #000 !important;
      font-family: 'Montserrat' !important;
      text-decoration: none;
      border: none;
    }

    &:after {
      border-bottom: 1px solid #304c5f;
      content: ' ';
      display: block;;
      margin: 10px 100px 0 100px;
    }
  }

  .tags {
    font-size: .9em;
    display: block;
    text-align: center !important;
    margin-top: 30px;
  }


	.actions {
		margin-bottom: 20px;
		margin-top: 20px;
		font-size: .8em;
		display: flex;
		justify-content: space-between;		
		align-items: center;
	}
	.action img {
		height: 27px;
		vertical-align: middle;
		margin-right: 3px;
		width: 27px;
	}
	.action .sum {
		margin-right: 3px;
	}

  footer {
    border: none;
    height: 80px;
  }
  footer .inner {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    // position: relative;
  }

  footer .image-circle {    
    position: relative;
    top: 17px;
  }
  footer .inner ul {
    margin: 0;
    padding: 0;
    list-style: none;  
    text-align: center;
  }
  footer .inner ul li {
    display: inline-block;
    text-align: center;
  }
  .odss {
    margin-top: 10px;   
    margin-left: 10px;
  }
  .ods {
    background: #c5c5c5;
    color: #fff;
    font-weight: bold;
    padding: 4px 10px;  
    margin-right: 5px;  
  }

  // alinhamento da ODS
  footer .ico-ods {
    position: relative;
    top: 15px;
  }
</style>