<template>
	<section class="subnews container">
		<div class="columns">
			<div class="column is-3">
				<div class="border"></div>
				<h3 class="subtitle"><span>Próximo</span> <span>Desafio</span> <span class="featured">#Zica</span></h3>
				<button class="button primary is-medium">Envie sua Sugestão</button>
			</div>
			<div class="column is-3">
				<div class="inner">
					<h4 class="title-sm">Notícia boa para animar nosso dia.</h4>
					<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
					<p class="read-more"><a href="#more">Continue lendo</a></p>
				</div>
			</div>
			
			<div class="column is-3">
				<div class="inner">					
					<h4 class="title-sm">Pesquisadores da Fiocruz iniciam testes de vacina contra Zika.</h4>
					<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
					<p class="read-more"><a href="#more">Continue lendo</a></p>
				</div>
			</div>

			<div class="column is-3">
				<div class="inner">					
					<h4 class="title-sm">Notícia boa para animar nosso dia</h4>
					<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
					<p class="read-more"><a href="#more">Continue lendo</a></p>
				</div>
			</div>
		</div>
	</section>
</template>

<script type="text/javascript">
export default {
	name: "Subnews"
}
</script>

<style scoped>
	.subnews {
		margin-top: 50px;
		margin-bottom: 70px;
		display: block;
	}

	.subnews::before {
		border-top: 1px solid #304c5f;
		content: ' ';
		display: block;
		height: 10px;
		margin: 30px 90px;
	}

	.border {
		border-top: 8px solid #f26b2e;
		margin-bottom: 20px;	
		margin-right: 10px;	
	}

	.button.primary {
		background: #f26b2e;
		border: none;
		border-radius: 50px;
		color: #fff;
		display: block;
		text-transform: uppercase;
		width: 100%;
	}

	.inner {
		border-left: 1px solid #304c5f;
		padding: 0 20px;
	}
	.paragraph {
		margin-bottom: 20px;
		margin-top: 20px;
		line-height: 175%;
	}

	.read-more {
		text-align: right;
		border: none;		
		position: relative;
		right: 0;
	}
	.read-more a {
		color: #f26b2e;
		display: block;
		text-transform: uppercase;
		margin-top: 10px;
	}

	.featured {
		color: #f26b2e !important;
	}

	.subtitle span {
		color: #304c5f;
		display: block;
		font-size: 3em;
		font-weight: bold;
		text-transform: uppercase;
	}

	.title-sm {
		color: #304c5f;
		font-weight: bold;
		font-size: 1.2em;
		margin-bottom: 15px;
	}
</style>