<template lang="html">

  <nav class="nav header-nav">
    <div class="nav-right user-box">
      <div class="nav-item">
        <p class="has-text-right" v-if="user.socialName">
          <strong>{{user.socialName}}</strong>
        </p>
      </div>
      <dropdown>
        
        <figure class="user-box-avatar">
          <span style="display: inline-block; vertical-align: middle">
            <b>{{user.firstName}} </b><br>
            {{user.email}}
          </span>
          <span class="caret">&#9660;</span>
        </figure>

        <div slot="content">
          <menus>
            <!-- <menu-item :click="siteUrl">Voltar para o site</menu-item> -->
            <!-- <menu-item icon="lock">Configurações</menu-item> -->
            <!-- <div class="divider"></div> -->
            <menu-item icon="times">Sair</menu-item>
          </menus>
        </div>
      </dropdown>

    </div>
  </nav>
</template>

<script>
import { mapGetters } from 'vuex'

export default {

  name: "UserMenu",

  data() {
    return {
      user: {}
    }
  },

  computed: {
    ...mapGetters(['me'])
  },

  methods: {
    siteUrl() {
      window.location.href = process.env.HOST;
    }
  },

  created () {
    this.user = this.me
  }
}
</script>

<style lang="css">
  .user-box .dropdown {
    cursor: pointer;
  }
  .user-box .user-box-avatar {
    text-align: right;
  }
  .user-box .user-box-avatar img {
    vertical-align: middle;
  }
  .user-box .user-box-avatar .caret {
    color: #ccc;
    font-size: 10px;
  }
</style>
