<template lang="html">
  <div class="container-fluid">

    <div class="columns is-gapless main">
      <aside class="column is-1 menu is-dark">
        <menus label="Menu">
          <menu-item to="/admin/iniciativas"><span>Iniciativas</span></menu-item>
          <menu-item to="/admin/perguntas"><span>Perguntas</span></menu-item>
          <menu-item to="/admin/usuarios"><span>Usuários</span></menu-item>
          <menu-item to="/admin/relatorios"><span>Relatórios</span></menu-item>
        </menus>
      </aside>

      <!-- main content -->
      <div class="column is-11 main">

        <usermenu />

        <slot></slot>

      </div>
    </div>
  </div>
</template>

<script>
  import usermenu from '../user/user-menu-component.vue'
  import { mapGetters } from 'vuex'

  export default {
    name: "Layout",

    components: { usermenu },

    data () {
      return {
        isShow: false,
      }
    },

    methods: {
      toggle () {
        this.isShow = !this.isShow;
      }
    }
  }
</script>

<style>
  .container-fluid {
    background: #f5f5f5;
  }

  .columns.main {
    min-height: 100vh;
  }

  .breadcrumb {
    margin-bottom: 30px;
  }

  .the-content {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  /**
   * Header Nav
   */
   .header-nav {
    padding: 5px 15px;
   }

  /**
   * Main Content
   */
  .main-content {
    margin: 30px 20px;
  }

  .is-danger, a.is-danger {
    color: red;
  }

  .is-block {
    display: block !important;
  }
  .is-block.is-centered {
      margin-right: auto !important;
      margin-left: auto !important;
  }

  .table th {
    background: rgba(0,0,0, .7);
    color: #fff !important;
  }
</style>
