<template>
  <div class="main">
    <Top class="container" />

    <div class="cover"></div>
    
    <section>
      <div class="columns is-centered is-mobile is-desktop">
        <div class="column is-8">               
          <div class="content">         
            <h1 class="title is-1 has-text-centered">Curadores</h1>
          </div>

          <Grid :data="data" :cols="4" :colSize="'is-3'">
          <template slot="itemgrid" slot-scope="data">   
            <div>
              <div class="card-content is-centered">
                <div class="content has-text-centered">
                  <figure class="image is-4by3">
                    <img :src="avatarUrl(data.col)" alt="" class="avatar" />
                  </figure>

                  <h3 class="title is-5">{{ data.col.firstName }} {{ data.col.lastName }}</h3>
                  <h5 class="" v-if="data.col.major">{{ data.col.major }}</h5>
                  <h5 class="" v-if="data.col.city && data.col.state">{{ data.col.city }} - {{ data.col.state }}</h5>
                </div>
              </div>
            </div>
          </template>
        </Grid>
        </div>
      </div>
    </section>

    <Bottom />
  </div>
</template>

<script>
import Top from './comps/top.vue'
import Bottom from './comps/bottom.vue'
import Grid from './comps/grid.vue'
import { getCurators } from '../../api/curators.service.js'

export default {
  name: "CuratorsPage",
  data() {
    return {
      data: []
    }
  },
  methods: {
    avatarUrl(user) {
      const defaultAvatar = 'http://static.agora2030.colabtech.org/site/avatar/avatar_default.jpg'
      if (user.socialAvatar) {
        return user.socialAvatar
      } else if (user.avatarUrls) {
        return user.avatarUrls['150x150'] || defaultAvatar
      }
      return defaultAvatar
    }
  },
  components: { Bottom, Top, Grid },
  created() {
    getCurators().then((data) => {
      this.data = data.data.items
    },
    (error) => {
      console.info("Data error:", error)
    })      
  }
}
</script>

<style>
.cover {
  background: #fff url('../../assets/imgs/curators-bg.jpg') center center no-repeat;
  background-size: cover;
  height: 375px;
  margin-bottom: 30px;
}
.avatar {
  border-radius: 20px; 
}
/*
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: local('./src/assets/fonts/montserrat/Montserrat Light'), local('./src/assets/fonts/montserrat/Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v11/IVeH6A3MiFyaSEiudUMXEweOulFbQKHxPa89BaxZzA0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('./src/assets/fonts/montserrat/Montserrat Regular'), local('./src/assets/fonts/montserrat/Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v11/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('./src/assets/fonts/montserrat/Montserrat Regular'), local('./src/assets/fonts/montserrat/Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v11/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('./src/assets/fonts/montserrat/Montserrat Bold'), local('./src/assets/fonts/montserrat/Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v11/IQHow_FEYlDC4Gzy_m8fcmaVI6zN22yiurzcBKxPjFE.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }

  body {
    font-family: 'Montserrat', sans-serif;
  }
*/
</style>
