<template lang="html">
  <div class="main">
    <Home />
    <Search @input="v => filter = v" />
    <Initiative :filter-value="filter" />
    <section id="comecar">
      <Curators />
    </section>
    <!-- <Subnews /> -->

    <Bottom class="margin" />    
  </div>
</template>

<script>
// import Home from './comps/home.vue'
// import Search from './comps/search.vue'
// import Initiative from './comps/initiative.vue'
// import Curators from './comps/curators.vue'
// import Bottom from './comps/bottom.vue'
// import Subnews from './comps/subnews.vue'
const Home = () => import(/* webpackChunkName: "Home" */ './comps/home.vue')
const Search = () => import(/* webpackChunkName: "Search" */ './comps/search.vue')
const Initiative = () => import(/* webpackChunkName: "Initiative" */ './comps/initiative.vue')
const Curators = () => import(/* webpackChunkName: "Curators" */ './comps/curators.vue')
const Bottom = () => import(/* webpackChunkName: "Bottom" */ './comps/bottom.vue')
// const Subnews = () => import(/* webpackChunkName: "Subnews" */ './comps/subnews.vue')

export default {
  name: "LandPage",
  components: { Home, Search, Initiative, Curators, Bottom },
  data () {
    return {
      filter: {}
    }
  },
  mounted () {
    //setTimeout(() =>{
      const { hash } = this.$route
      if (hash) this.$scrollTo(hash)
    //}, 500)  
  },
  watch: {
    '$router' (to, from) {
      console.info(to, from)
    }
  }
}
</script>
<style lang="scss">
  @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      src: local('../../../assets/fonts/Montserrat Regular'), local('../../../assets/fonts/Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
    }


  @font-face {
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 700;
    src: local('../../../assets/fonts/montserrat/Montserrat Bold'), local('../../../assets/fonts/montserrat/Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v11/IQHow_FEYlDC4Gzy_m8fcmaVI6zN22yiurzcBKxPjFE.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }


  body {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 1em !important;
  }

  .margin {
    padding-left: 20px;
    padding-right: 20px;
    @media (max-width: 768px) {
    }
  }
</style>
