<template>
  <div class="main-content">
    <breadcrumb separator="›">
      <breadcrumb-item label="Início" to="/"></breadcrumb-item>
    </breadcrumb>

    <nav class="nav">
      <div class="nav-left">
        <div class="nav-item">
          <h2 class="title">Comentários</h2>
        </div>
      </div>
    </nav>

    <div class="the-content">
      <div v-if="pagerCtrl.total > 0">
        <table class="table is-bordered is-striped">
          <tr>
            <th style="width: 65%;">Comentário</th>
            <th style="width: 20%;">Autor</th>
            <th style="width: 15%;">Data</th>
          </tr>

          <tr v-for="(node, index) in dataSource" :key="index" :id="'row_'+index">
            <td>
              <h4 class="title is-size-4">{{ node.text }}</h4>
              <moderateComment :commentId="node.id" v-on:removeRow="removeTableRow(index)"></moderateComment>
            </td>
            <td>{{ node.user.firstName }} {{ node.user.lastName }}</td>
            <td class="has-text-centered">{{ formatDate(node.createdAt) }}</td>
          </tr>
        </table>
    
        <pagination :total="pagerCtrl.total" :change="get" size="small" layout="pager"></pagination>
      </div>

      <div v-else>
        <alert title="" type="warning" icon="meh-o">
          <h3 class="title is-size-4">Iniciativa sem comentário.</h3>
        </alert>        
      </div>      
    </div>
  </div>
</template>

<script>
import { adminGetInitiativesComments } from '../api/initiatives-admin.service.js'
import moderateComment from './moderate-comment.vue'
import moment from 'moment'

export default {
  name: 'Comments',
  components: { moderateComment },
  data() {
    return {
      dataSource: [],
      pagerCtrl: {
        limit: 50,
        skip: 0,
        total: 0
      }
    }
  },

  created () {
    this.get()
  },
  methods: {
    formatDate(dateString, format) {
      if (!format) {
        format = "DD/MM/YYYY - H:mm:ss";
      }
      if (dateString != null) {
        return moment(dateString).format(format);
      }
      return "";
    },

    get (page = 1) {
      adminGetInitiativesComments(this.$route.params.id, 50, this.pagerCtrl.limit * (page - 1))
        .then(data => {
          this.pagerCtrl.limit = data.limit
          this.pagerCtrl.total = data.total
          this.dataSource = data.items
        })
    },
    removeTableRow (index) {
      this.pagerCtrl.total-- 
      let row = document.getElementById(`row_${index}`)
      row.remove()
    }
  }
}
</script>

<style>
.list-inline li {
  display: inline-block;;
  margin-right: 7px;
}
</style>
