<template lang="html">
  <div>
    <div class="control">
      <label for="password1">Senha <span v-if="required" class="required">*</span></label>
      <input type="password"
        class="input"
        :class="{ 'is-danger': showMinHelpMsg, 'is-success': isEqual }"
        id="email"
        @change="compareValues"
        v-model="password1"
        placeholder="Digite uma senha"
        :required="required">
      <span class="help-block" v-if="showMinHelpMsg">A senha precisa ter pelo menos 6 caracteres</span>
    </div>
    <div class="control">
      <label for="password2">Confirme sua senha <span v-if="required" class="required">*</span></label>
      <input type="password"
        ref="input"
        class="input"
        :class="{ 'is-danger': showMinHelpMsg, 'is-success': isEqual }"
        id="password2"
        @change="compareValues"
        v-model="password2"
        placeholder="Confirme sua senha"
        :required="required">
      <span class="help-block" v-if="showHelpMessage">As senhas informadas não coincidem</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ComparePasswords',
  props: {
    value: {
      default: ''
    },
    required: {
      default: false
    },
    min: {
      type: Number
    }
  },
  data () {
    return {
      isEqual: '',
      password1: '',
      password2: '',
      showMinHelpMsg: false,
    }
  },
  computed: {
    showHelpMessage: function() {
      if (this.isEqual === '') {
        return false;
      } else {
        return !this.isEqual;
      }
    }
  },
  methods: {
    compareValues: function(event) {
      if (this.password1.length < 6) {
        this.showMinHelpMsg = true;
      } else {
        this.showMinHelpMsg = false;
      }
      if (this.password1 === this.password2) {
        this.isEqual = true;
        this.$emit('input', this.password1);
      } else {
        this.isEqual = false;
        this.$emit('input', '');
      }
    }
  }
}
</script>
