<template>
  <section class="main-content">
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <h2 style="font-size: 16px; font-weight: bold; margin: 30px">{{msg}}</h2>
      </div>
    </div>
  </section>
</template>

<script>
  import { confirmEmail } from '../api/user.service.js'

  export default {
    name: 'ConfirmEmailPage',
    data () {
      return {
        msg: 'Por favor, aguarde...'
      }
    },
    mounted () {
      const { token } = this.$route.query
      if (token) {
        confirmEmail(token)
          .then(
            success => {
              this.msg = 'Email confirmado com sucesso!'
            },
            error => {
              this.msg = 'Token inválido: ' + error.response.data.message
              // this.$router.push('/')
            }
          )
      } else {
        this.$router.push('/')
      }
    }
  }
</script>