<template lang="html">
  <div class="file-upload">
    <ul class="file-list">
      <li v-for="(file, index) in uploadedFiles">
        <button class="remove" @click="removeFile(index)"><ficon name="close" class="vermelho-1" /></button>
        <div class="doc-icon"><ficon name="doc" class="azul-2" /></div>
        <div class="doc-info">
          <span class="pull-right sended verde-1" v-if="file.sended">
            Enviado com sucesso!
          </span>
          <span class="doc-name cinza-5">{{file.filename}}</span>
          <span class="doc-format-size cinza-3">formato {{file.fileext}} {{file.filesize}}</span>
        </div>
      </li>
      <li v-for="(file, index) in previewFiles">
        <button class="remove" @click="removePreview(index)"><ficon name="close" class="vermelho-1" /></button>
        <div class="doc-icon"><ficon name="doc" class="azul-2" /></div>
        <div class="doc-info">
          <span class="pull-right sending cinza-2" v-if="file.sending">Enviando...</span>
          <span class="doc-name cinza-5">{{file.filename}}</span>
          <span class="doc-format-size cinza-3">formato {{file.fileext}} {{file.filesize}}</span>
        </div>
      </li>
    </ul>
    <alert v-if="alertCtrl.show" :closable="true" :type="alertCtrl.type" @onclose="alertCtrl.show = false">
      <div v-html="alertCtrl.text"></div>
    </alert>
    <form enctype="multipart/form-data" novalidate :disabled="disabledInSend">
      <h1>Insira seu Documento</h1>
      <div class="form-group">
        <label for="fileinput" class="labelfileinput">
          <div class="fake-input">
            {{fakeInputValue}}
          </div>
          <a class=" btn btn-success"><ficon name="doc" /> Envie seu doc</a>
        </label>
        <input type="file" id="fileinput" multiple @change="filesChange($event)"
          :accept="accepttypes" class="input-file form-control" :disabled="disabledInSend">
      </div>
    </form>
  </div>
</template>

<script>
  import { upload, deleteMedia, getMedias, batchUpload } from '../api/file-upload.service';
  import { bytesToSize, sizeToBytes } from '../api/helpers.js';
  import ficon from './ficons-component.vue'
  import { mapGetters } from 'vuex'

  export default {
    name: "FileUpload",

    components: { ficon },

    props: {
      accepttypes: {
        type: String,
        required: true
      },
      max: {
        type: Number,
        default: 0
      },
      solutionId: {
        required: true
      },
      fileSizeLimit: {
        type: String
      }
    },

    data() {
      return {
        previewFiles: [],
        uploadedFiles: [],
        disabledInSend: false,
        totalfiles: 0,
        alertCtrl: {
          show: false,
          type: "info",
          text: ''
        }
      }
    },

    computed: {
      fakeInputValue() {
        if (this.totalfiles == 0) {
          return "Envie seu documento";
        }
        if (this.disabledInSend) {
          return `Enviando ${this.totalfiles} arquivos...`;
        }
        return `${this.totalfiles} arquivos enviados com sucesso!`;
      }
    },

    methods: {
      checkFileSizeLimit(fileSize) {
        if (this.fileSizeLimit.length > 0) {
          let limit = sizeToBytes(this.fileSizeLimit);
          let fsize = fileSize;

          if (fsize > limit) {
            return false;
          }
        }
        return true;
      },
      removePreview: function(index) {
        this.previewFiles.splice(index, 1);
      },
      removeFile: function(index) {
        deleteMedia(this.solutionId, this.uploadedFiles[index].id)
          .then(
            success => {
              this.uploadedFiles.splice(index, 1);
              this.$emit('totalmedia', { type: 'minus', value: 1 });
            }
          )
      },
      save() {
        let bulk = [];

        if (this.previewFiles.length > 0) {
          this.disabledInSend = true;
        }
        let timeout = 0;
        for (let i = 0; i < this.previewFiles.length; i++) {
          let formdata = new FormData();
          for (let key in this.previewFiles[i]) {
            this.previewFiles[i].sending = true;
            if (key == "caption") {
              formdata.append(key, this.previewFiles[i][key]);
            }
            if (key == "file") {
              formdata.append(key, this.previewFiles[i][key], this.previewFiles[i][key].name);
            }
          }
          bulk.push(formdata)
          timeout += 300;
        }
        setTimeout(() => {
          batchUpload(bulk, this.solutionId)
            .then(
              result => {
                let i = 0;
                let baseUri = `${process.env.STATIC_URL}/solutions/${this.solutionId}/images/`;
                this.$emit('totalmedia', { type: 'sum', value: result.length });
                result.map(item => {
                  this.previewFiles[i].sending = false;
                  item.sended = true;
                  item.preview = `${baseUri}${item.name}/150x150${item.extension}`;
                  this.showSendedMsg(item);
                  this.uploadedFiles.push(item);
                  this.disabledInSend = false;
                  i++;
                })
                this.previewFiles = [];
                this.setCover(0);
                this.disableSetCover(this.uploadedFiles[0]);
              }
            )
            .catch((err) => {
              this.disabledInSend = false;
            })
        }, timeout)

      },
      filesChange(event) {
        let fieldList = event.target.files;
        this.totalfiles = fieldList.length;
        let total = fieldList.length;
        if (total > this.max) {
          total = this.max;
          this.alertCtrl = {
            type: 'warning',
            show: true,
            text: "Você atingiu o limite máximo de imagens e documentos para esta Solução. Para enviar mais imagens, apague algumas imagens ou documentos."
          }
        }
        for (let i = 0; i < total; i++) {
          if (this.checkFileSizeLimit(fieldList[i].size)) {
            let ext = '.'+fieldList[i].name.split(".")[fieldList[i].name.split(".").length-1];
            let name = fieldList[i].name.substring(0, fieldList[i].name.indexOf(ext));
            let size = bytesToSize(fieldList[i].size);
            this.previewFiles.push(
              { filename: name,
                fileext: ext,
                file: fieldList[i],
                filesize: size,
                sending: false,
                sended: false
              }
            );
          } else {
            this.alertCtrl.text += `<p>O Arquivo ${fieldList[i].name} (${bytesToSize(fieldList[i].size)}) não pode ser enviado porque ultrapassa o limite de ${this.fileSizeLimit}.</p>`;
            if (i == total-1) {
              this.alertCtrl.show = true;
              this.alertCtrl.type = "warning";
            }
          }
        }
        this.save();
      },
      showSendedMsg(obj) {
        obj.sended = true;
      },
      getMedia(solutionId) {
        getMedias('file', solutionId)
          .then(
            success => {
              this.$emit('totalmedia', { type: 'sum', value: success.items.length });
              const re = /(?:\.([^.]+))?$/;
              success.items.map(file => {
                file.fileext = re.exec(file.originalFileName)[1];
                file.filename = file.originalFileName.substring(0, file.originalFileName.indexOf(file.fileext));
                if (file.size) {
                  file.filesize = bytesToSize(file.size);
                } else {
                  file.filesize = "";
                }
                this.uploadedFiles.push(file);
              })
            }
          )
      }
    },

    watch: {
      max: function(value) {
        if (value == 0) {
          this.disabledInSend = true;
          this.alertCtrl = {
            type: 'warning',
            show: true,
            text: "Você atingiu o limite máximo de imagens e documentos para esta Solução. Para enviar mais imagens, apague algumas imagens ou documentos."
          }
        }
        if (value > 0) {
          this.alertCtrl.show = false;
          this.disabledInSend = false;
        }
      },
      solutionId: function(value) {
        if (value) {
          this.getMedia(value);
        }
      }
    }

  }
</script>

<style lang="scss">
  .file-upload {
    .file-list {
      margin: 30px 0;
      padding: 0;
      flex-direction: column;
      li {
        list-style: none;
        display: flex;
        border-bottom: 1px solid #D6D3D3;
        padding: 20px 0;
        width: 100%;
        .remove {
          border: none;
          background: transparent;
          padding: 0;
          font-size: 24px;
          outline: none;
        }
        .doc-icon {
          font-size: 40px;
        }
        .doc-info {
          width: 100%;
          .doc-name {
            display: block;
            font-weight: bold;
            font-size: 28px;
          }
          .doc-format-size {
            font-size: 12px;
          }
          .sending {
            font-weight: bold;
          }
          .sended {
            font-weight: bold;
          }
        }
      }
    }
    form {
      &[disabled] {
        opacity: 0.4;
      }
      .labelfileinput {
        .fake-input {
          display: inline-block;
          border: 2px solid #999;
          border-radius: 4px;
          padding: 14px 30px;
          vertical-align: middle;
          font-size: 16px;
          color: #666;
          overflow: hidden;
          width: 320px;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        a {
          font-weight: bold;
          color: #fff;
          font-size: 18px;
        }
      }
      .input-file {
        display: none;
      }
    }
  }
</style>
