<template>
    <div class="upload-container">
      <alert v-if="alertCtrl.show" :closable="true" :type="alertCtrl.type" @on-close="alertCtrl.show = false">
        <div v-html="alertCtrl.text"></div>
      </alert>

      <div class="image-preview">
        <div class="preview" :style="`background: url('${item.preview}') no-repeat center;`" v-for="(item, index) in previewImages" :key="index">
          <div class="sending" v-if="item.sending">
            Enviando...
          </div>
          <!-- <button class="remove" @click="removePreview(index)" :disabled="item.sending" v-if="!item.sended"><span>&times;</span></button> -->
        </div>
      </div>
      
      <div class="image-preview">

        <div class="preview" :style="`background: url('${item.preview}') no-repeat center;`" v-for="(item, index) in uploadedImages" :key="index">
          <button class="remove" @click="removeImage(index)" :disabled="item.sending" v-if="!item.sended"><span>&times;</span></button>
          <div class="coverimage" v-if="item.id">
            <label class="setcoverradio"><input type="radio" name="cover" :checked="item.cover" @click="setCover(index)"> Capa da Solução</label>
          </div>
          <div class="sended verde-1"  v-if="item.sended">
            Enviado com sucesso!
          </div>
          <button class="legend" :class="{ 'has-legend': item.caption }" @click="LegendModalShow(index)">Legenda</button>
        </div>

        <modal
          title="Dê uma Legenda para a foto"
          :show-footer="true"
          :is-show="showLegendModal"
          ok-text="Salvar"
          :on-ok="saveLegend"
          @close="showLegendModal = false"
        >

          <div class="control">
            <input type='text' class='input' placeholder='Descreva sua foto' v-model="currentLegendText">
          </div>
          
        </modal>

        <form enctype="multipart/form-data" novalidate :disabled="disabledInSend">
          <input type="file" multiple @change="filesChange($event)"
            :accept="accepttypes" class="input-file" :disabled="disabledInSend">
        </form>
      </div>

  </div>
</template>

<script>
  import { bytesToSize, sizeToBytes } from '../api/helpers.js';
  import {
    upload,
    editImageCaption,
    deleteMedia,
    getMedias,
    setCoverImage,
    batchUpload
  } from '../api/file-upload.service'

    export default {

    name: 'ImageUpload',

    components: {  },

    props: {
      accepttypes: {
        type: String,
        required: true
      },
      max: {
        type: Number,
        default: 0
      },
      solutionId: {
        required: true
      },
      fileSizeLimit: {
        type: String
      },
      CoverId: {
        type: String
      }
    },

    data() {
      return {
        showLegendModal: false,
        currentLegendIndex: -1,
        currentLegendText: '',
        previewImages:[],
        uploadedImages:[],
        disabledInSend: false,
        alertCtrl: {
          show: false,
          type: "info",
          text: ''
        }
      }
    },

    methods: {
      checkFileSizeLimit(fileSize) {
        if (this.fileSizeLimit.length > 0) {
          let limit = sizeToBytes(this.fileSizeLimit);
          let fsize = fileSize;

          if (fsize > limit) {
            return false;
          }
        }
        return true;
      },
      setCover(index) {
        setCoverImage(this.uploadedImages[index].id, this.solutionId)
          .then(
            success => {
              let i = 0;
              this.uploadedImages.map(img => {
                this.uploadedImages[i].cover = false;
                delete this.uploadedImages[i].coverImageId;
                i++;
              })
              this.uploadedImages[index].cover = true;
              this.uploadedImages[index].coverImageId = success.coverImageId;
            }
          )
      },
      disableSetCover(item) {
        if (item.cover) {
          return true;
        }
        return false;
      },
      save() {
        let bulk = [];

        if (this.previewImages.length > 0) {
          this.disabledInSend = true;
        }
        let timeout = 0;
        for (let i = 0; i < this.previewImages.length; i++) {
          let formdata = new FormData();
          for (let key in this.previewImages[i]) {
            this.previewImages[i].sending = true;
            if (key == "caption") {
              formdata.append(key, this.previewImages[i][key]);
            }
            if (key == "file") {
              formdata.append(key, this.previewImages[i][key], this.previewImages[i][key].name);
            }
          }
          bulk.push(formdata)
          timeout += 300;
        }
        setTimeout(() => {
          batchUpload(bulk, this.solutionId)
            .then(
              result => {
                let i = 0;
                let baseUri = `${process.env.STATIC_URL}/solutions/${this.solutionId}/images/`;
                this.$emit('totalmedia', { type: 'sum', value: result.length });
                result.forEach(item => {
                  this.previewImages[i].sending = false;
                  item.sended = true;
                  item.preview = item.urls['150x150'];
                  this.showSendedMsg(item);
                  this.uploadedImages.push(item);
                  this.disabledInSend = false;
                  i++;
                })
                this.previewImages = [];
                this.setCover(0);
                this.$emit('hasimages');
                this.disableSetCover(this.uploadedImages[0]);
              }
            )
            .catch((err) => {
              this.disabledInSend = false;
            })
        }, timeout)

      },
      filesChange(event) {
        let fieldList = event.target.files;
        let total = fieldList.length;
        if (total > this.max) {
          total = this.max;
          this.alertCtrl = {
            type: 'warning',
            show: true,
            text: "Você atingiu o limite máximo de imagens e documentos para esta Solução. Para enviar mais imagens, apague algumas imagens ou documentos."
          }
        }
        for (let i = 0; i < total; i++) {
          if (this.checkFileSizeLimit(fieldList[i].size)) {
            this.previewImages.push(
              { preview: URL.createObjectURL(fieldList[i]),
                file: fieldList[i],
                sending: false,
                sended: false
              }
            );
          } else {
            this.alertCtrl.text += `<p>A imagem ${fieldList[i].name} (${bytesToSize(fieldList[i].size)}) não pode ser enviada porque ultrapassa o limite de ${this.fileSizeLimit}.</p>`;
            if (i == total-1) {
              this.alertCtrl.show = true;
              this.alertCtrl.type = "warning";
            }
          }
        }
        this.save()
      },
      removePreview: function(index) {
        this.previewImages.splice(index, 1);
      },
      removeImage: function(index) {
        deleteMedia(this.solutionId, this.uploadedImages[index].id)
          .then(
            success => {
              this.uploadedImages.splice(index, 1);
              this.$emit('totalmedia', { type: 'minus', value: 1 });
              if(this.uploadedImages.length == 0) {
                this.$emit('hasnoimages');
              }
            }
          )
      },
      LegendModalShow: function(index) {
        this.showLegendModal = true;
        this.currentLegendIndex = index;
        this.currentLegendText = this.uploadedImages[index].caption;
      },
      saveLegend: function() {
        this.uploadedImages[this.currentLegendIndex].caption = this.currentLegendText;
        editImageCaption({ caption: this.currentLegendText }, this.solutionId, this.uploadedImages[this.currentLegendIndex].id )
        .then(
          success => {
            this.currentLegendIndex = -1;
            this.currentLegendText = "";
            this.showLegendModal = false;
          }
        )

      },
      showSendedMsg(obj) {
        obj.sended = true;
        setTimeout(() => {
          obj.sended = false;
        }, 1500)
      },
      getMedia(solutionId) {
        getMedias('image', solutionId)
          .then(
            success => {
              this.$emit('totalmedia', { type: 'sum', value: success.items.length });
              let baseUri = `${process.env.STATIC_URL}/solutions/${solutionId}/images/`;
              success.items.map(img => {
                img.preview = img.urls['150x150'];
                if (img.id === this.CoverId) {
                  img.cover = true
                }
                this.uploadedImages.push(img);
              })
              if (success.items.length > 0) {
                this.$emit('hasimages');
              }
            }
          )
      }
    },

    watch: {
      max: function(value) {
        if (value == 0) {
          this.disabledInSend = true;
          this.alertCtrl = {
            type: 'warning',
            show: true,
            text: "Você atingiu o limite máximo de imagens e documentos para esta Solução. Para enviar mais imagens, apague algumas imagens ou documentos."
          }
        }
        if (value > 0) {
          this.alertCtrl.show = false;
          this.disabledInSend = false;
        }
      },
      solutionId: function(value) {
        if (value) {
          this.getMedia(value);
        }
      }
    }

  }
</script>

<style lang="scss">
  .image-preview {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 30px;
    .preview {
      background-size: cover !important;
      height: 150px;
      position: relative;
      margin: 15px;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 150px;
      max-width: 150px;
      .remove {
        outline: none;
        display: flex;
        color: #fff;
        width: 30px;
        height: 30px;
        background: #EF545C;
        font-weight: bold;
        position: absolute;
        top: -15px;
        right: -15px;
        font-size: 18px;
        border: none;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        border-radius: 50px;
        z-index: 100;

      }
      .legend {
        background: transparent;
        border: 2px solid #fff;
        color: #fff;
        border-radius: 3px;
        position: absolute;
        bottom: 10px;
        left: 10px;
        outline: none;
        &.has-legend {
          border-color: #26B2BF;
          background: #26B2BF;
        }
      }
      .sending,
      .sended {
        background: rgba(255,255,255, .3);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        color: #fff;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        transition: all ease .2s;
      }
      .sended {
        background: rgba(0,0,0,.5);
      }
      .coverimage {
        color: #fff;
        position: absolute;
        font-size: 12px;
        top: 5px;
        left: 5px;
        label.setcoverradio {
          input[type="radio"] {
            &:before {
              border-radius: 0;
              border-color: #fff;
              background: transparent;
            }
            &:after {
              background: #fff;
              border-radius: 0;

            }
          }
        }
      }
    }
    form {
      max-width: 150px;
      height: 150px;
      margin: 10px;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 150px;
      background: url('../assets/imgs/input-file-add.png') no-repeat center;
      position: relative;
      &[disabled] {
        opacity: 0.4;
      }
      .input-file {
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        cursor: pointer;
      }
    }
  }
</style>
