<template>

  <div class="main-content">
    <breadcrumb separator="›">
      <breadcrumb-item label="Início" to="/admin"></breadcrumb-item>
    </breadcrumb>

    <nav class="nav">
      <div class="nav-left">
        <div class="nav-item">
          <h2 class="title">Iniciativas</h2>
        </div>
      </div>

      <div class="nav-right">
        <div class="nav-item">
          <router-link to="/admin/iniciativa/adicionar" class="button is-primary">Adicionar</router-link>
        </div>
      </div>
      

      <!--
            <div class="nav-right">
            <div class="nav-item">
            <p class="control has-icon">
            <input class="input is-medium" type="text" placeholder="Texto a pesquisar">
            <i class="fa fa-search"></i>
          </p>
        </div>
      </div>
    -->
    </nav>



    <div class="the-content">

      <nav class="nav">
        <div class="nav-left">
          <div class="nav-item">
            <b>Total de Iniciativas:</b> {{total}}
          </div>
        </div>
        <div class="nav-right">
          <div class="nav-item">
            <span class="select">
              <select v-model="where.published" @change="getInitiatives(1)">
                <option disabled selected value="">Estado de Publicação</option>
                <option :value="true">Publicado: Sim</option>
                <option :value="false">Publicado: Não</option>
              </select>
            </span>
          </div>
          <!-- <div class="nav-item">
            <input type="email" class="input" placeholder="Email" v-model="where.email" @keyup.enter="getInitiatives(1)" />
          </div>
          <div class="nav-item">
            <input type="text" placeholder="CPF" class="input" v-model="where.cpf" @keyup.enter="getInitiatives(1)" />
          </div> -->
          <div class="nav-item">
            <button type="button" class="button is-warning" @click="clearFilter" :disabled="whereIsEmpty">Limpar</button>
          </div>
        </div>
      </nav>

      <table class="table is-bordered is-striped">
        <tr>
          <th style="width: 75%;">Título</th>
          <!--<th style="width: 6%;">Categoria</th>-->
          <th style="width: 25%;">Publicado em</th>
        </tr>

        <tr v-for="(node, index) in dataSource" :key="index">
          <td>
            <h6 class="title is-size-4">{{ node.title }}</h6>
            <ul class="list-inline">
              <li>
                <publishInitiative
                  :solutionId="node.id"
                  :isPublished="node.published"
                  :index="index"
                  @input="updateInitiative"
                  />                  
              </li>
              <li>
                <router-link :to="`/admin/iniciativa/${node.id}/editar`" class="button is-small is-info">
                  <i class="fa fa-pencil"></i> &nbsp; Editar Iniciativa
                </router-link>                  
              </li>
              <li>
                <router-link :to="`/admin/iniciativa/${node.id}/capa/editar`" class="button is-small is-warning">
                  <i class="fa fa-pencil"></i> &nbsp; Editar Anexos
                </router-link>                  
              </li>
              <li>
                <router-link :to="`/admin/iniciativa/${node.id}/perguntas/editar`" class="button is-small is-success">
                  <i class="fa fa-pencil"></i> &nbsp; Editar Perguntas
                </router-link>                  
              </li>
              <li>
                <router-link :to="`/admin/iniciativa/${node.id}/comentarios`" class="button is-small is-danger">
                  <i class="fa fa-pencil"></i> &nbsp; Moderar Comentários
                </router-link>                  
              </li>              
            </ul>
          </td>
          <td class="has-text-centered">
            {{ formatDate(node.publishedAt) }}
          </td>
        </tr>
      </table>
    </div>

    <pagination :total="pagerCtrl.total" :change="getInitiatives" size="small" layout="pager"></pagination>
  </div>

</template>

<script>

import publishInitiative from './publish-solution-component.vue'
import {
  adminGetInitiatives
} from '../api/initiatives-admin.service'
import moment from 'moment'
import { mapGetters } from 'vuex'

export default {
  name: 'iniciativas',

  components: {
    publishInitiative
  },

  data() {
    return {
      dataSource: [],
      pagerCtrl: {
        limit: 50,
        skip: 0,
        total: 0
      },
      total: 0,
      where: {
        email: "",
        cpf: "",
        published: "",
        type: ""
      }
    }
  },

  computed: {
    ...mapGetters(['me']),
    whereIsEmpty() {
      let r = true;
      for (let key in this.where) {
        if (this.where[key] || typeof this.where[key] === "boolean") {
          r = false;
        }
      }
      return r;
    }
  },

  created() {
    this.getInitiatives()
  },

  methods: {
    clearFilter() {
      this.where = {
        email: "",
        cpf: "",
        published: "",
        type: ""
      }
      this.getInitiatives();
    },
    formatDate(dateString, format) {
      if (!format) {
        format = "DD/MM/YYYY - H:mm:ss";
      }
      if (dateString != null) {
        return moment(dateString).format(format);
      }
      return "";
    },
    updateInitiative(data) {
      this.dataSource.splice(data.index, 1, data.data);
    },
    getInitiatives(page = 1) {    
      adminGetInitiatives(50, this.pagerCtrl.limit * (page - 1))
        .then(
          success => {
            this.pagerCtrl.limit = success.limit;
            //this.pagerCtrl.skip = success.limit * page;
            this.total = success.total
            this.pagerCtrl.total = success.total;
            this.dataSource = success.items;
          }
        )
    }
  }

}
</script>

<style>
tr .title {
  margin-top: 8px;
}

.list-inline li {
  display: inline-block;
  margin-right: 7px;
}
.solution-actions {
  text-align: center;
}

.solution-actions .button {
  width: 100%;
}

.solution-actions .publish-solution-component+.button,
.solution-actions .button+.button {
  margin-top: 5px;
}
</style>
