<template lang="html">
  <span class="loader-mini" v-if="showLoader">{{leftText}}<ficon name="loading" class="animate-spin" />{{rightText}}</span>
</template>

<script>
  import ficon from './ficons-component.vue'
  import { EventBus } from '../config/event-bus'

  import animationscss from '../assets/fonts/feira-icons/css/animation.css'
  export default {
    name: "LoaderMini",
    components: { ficon },
    props: {
      show: {
        type: Boolean,
        default: false
      },
      leftText: {
        type: String
      },
      rightText: {
        type: String
      },
      listenFor: {
        type: String
      }
    },
    data() {
      return {
        showLoader: false
      }
    },
    mounted() {
      this.showLoader = this.show;
      EventBus.$on(`${this.listenFor}:INIT`, (payload) => {
        this.showLoader = true;
        this.$emit("loadingstart", { id: `${this.listenFor}:INIT` });
      })
      EventBus.$on(`${this.listenFor}`, (payload) => {
        this.showLoader = false;
        this.$emit("loadingend", { id: `${this.listenFor}` });
      })
    },
    watch: {
      show(value) {
        if (value) {
          this.showLoader = value;
        }
      }
    }
  }
</script>

<style lang="scss">
  .loader-mini {
    color: #37C0C8;
  }
</style>
