<template>
  <div class="container-fluid">
    <div class="column is-3 is-offset-5 main">
      <section class="main-content">
          <p class="mutted has-text-centered">
            <img :src="logo" />
          </p>
          <p class="control has-icon has-icon">
            <input class="input" type="text" placeholder="Seu e-mail" v-model="fData.email">
            <i class="fa fa-envelope"></i>
        </p>

        <p class="control has-icon has-icon">
          <i class="fa fa-lock"></i>
          <input class="input" type="password" placeholder="Sua senha" v-model="fData.password">
        </p>

        <p class="control" v-if="showError">
          <alert
            title="Não foi possível efetuar login"
            type="danger"
            :closable="true"
            :on-close="() => { showError = false }"
          >
            Verifique se seu email e senha estão corretos.
          </alert>
        </p>

        <p class="control">
          <button
            class="button is-primary is-large is-fullwidth"
            :class="{ 'is-loading': loginBtnDisable, 'is-disabled': loginBtnDisable }"
            :disabled="loginBtnDisable || $v.fData.$invalid"
            @click="doLogin"
          >
            Entrar
          </button>
        </p>
      </section>
    </div>
  </div>
</template>

<script>
  import { required } from 'vuelidate/lib/validators';

  import { loginUser } from '../api/user.service.js'

  import { mapActions } from 'vuex'

  export default {
    name: 'LoginPage',
    
    data () {
      return {
        logo: require('../assets/imgs/logo_agora.png'),
        loginBtnDisable: false,
        showError: false,
        fData: {
          email: '',
          password: ''
        }
      }
    },

    validations: {
      fData: {
        email: {
          required
        },
        password: {
          required
        }
      }
    },

    methods: {
      ...mapActions(['doSaveMe']),
      doLogin() {
        this.loginBtnDisable = true;
        const { email, password } = this.fData;
        loginUser({ email, password })
          .then(
            success => {
              this.loginBtnDisable = false
              this.doSaveMe(success.data)
                .then(
                  success => {
                    window.location = '/admin'
                  },
                  error => {
                    console.log(error)
                  }
                )
            },
            error => {
              this.loginBtnDisable = false;
              this.showError = true;
            }
          )
      }
    }
  }
</script>

<style scoped>
  body {
    background: #f5f5f5;
  }
</style>
