<template lang="html">
  <div>
    <pop-confirm 
      content="Confirma a exclusão do comentário?" 
      icon="question-circle-o" 
      :cancel-text="'cancelar'" 
      :ok-text="'Sim'"
      type="danger"
      :on-ok="moderate"
      >
      <button class="button is-small is-danger" v-if="!loading">
        <i class="fa fa-pencil"></i> &nbsp; Remover comentário
      </button>

      <button class="button is-small is-danger is-loading" v-else>
        <i class="fa fa-pencil"></i> &nbsp; Atualizando
      </button>            
    </pop-confirm>      
  </div>
</template>

<script>
import { adminGetInitiativesComments, adminDeleteInitiativesComments } from '../api/initiatives-admin.service.js'
export default {
  name: "ModerateComment",

  props: {
    commentId: {
      required: true
    }
  },

  data() {
    return {
      id: this.commentId,
      loading: false
    }
  },

  methods: {
    moderate() {
      // console.info("id", this.id, this.$route.params.id)
      this.loading = true
      adminDeleteInitiativesComments(this.$route.params.id, this.id)
        .then(
          data => {
            this.loading = false
            this.$notify.success({ content: 'Comentário excluído com sucesso' })
            this.$emit('removeRow')
          },
          data => {
            this.loading = false
            this.$notify.warning({ content: 'Falha ao moderar comentário'})            
          }
        )

    }
  }
  //,
  // watch: {
  //   commentId(value) {
  //     this.id = value;      
  //   }
  // }
}
</script>
