<template lang="html">
  <div class="publish-solution-component">
    <pop-confirm v-if="published"
      content="Tem certeza que deseja despublicar esta Solução?"
      :show-cancel="false"
      :on-ok="unpublishSolution"
      ok-text="Sim">
      <button class="button is-small is-danger">
        <i class="fa fa-close"></i> &nbsp;Despublicar
      </button>
    </pop-confirm>

    <pop-confirm v-else
      content="Tem certeza que deseja publicar esta Solução?"
      :show-cancel="false"
      :on-ok="publishSolution"
      ok-text="Sim">
      <button class="button is-small is-primary">
        <i class="fa fa-check-circle"></i> &nbsp;Publicar
      </button>
    </pop-confirm>
  </div>
</template>

<script>
  import { adminPublishInitiative, adminUnpublishInitiative } from '../api/initiatives-admin.service'

  export default {
    name: "PublishSolution",

    props: {
      solutionId: {
        type: String,
        required: true
      },
      isPublished: {
        type: Boolean,
        default: false
      },
      index: {
        type: Number
      }
    },

    data() {
      return {
        published: false
      }
    },

    mounted() {
      this.published = this.isPublished;
    },

    methods: {
      publishSolution() {
        //let confirm = window.confirm("Tem certeza que deseja publicar esta Solução?");
        //if (confirm  == true) {
          adminPublishInitiative(this.solutionId)
            .then(
              success => {
                let o = { data: success };
                if (typeof this.index != undefined || typeof this.index != null) {
                  o.index = this.index;
                }
                this.$emit('input', o);
                this.published = true;
              }
            )
        //}
      },
      unpublishSolution() {
        //let confirm = window.confirm("Tem certeza que deseja despublicar esta Solução?");
        //if (confirm == true) {
          adminUnpublishInitiative(this.solutionId)
          .then(
            success => {
              let o = { data: success };
              if (typeof this.index != undefined || typeof this.index != null) {
                o.index = this.index;
              }
              this.$emit('input', o);
              this.published = false;
            }
          )
        //}
      }
    },

    watch: {
      isPublished(value) {
        if (typeof value === "boolean") {
          this.published = this.isPublished;
        }
      }
    }

  }
</script>

<style lang="css">
</style>
