<template>

    <div class="main-content">
      <breadcrumb separator="›">
        <breadcrumb-item label="Início" to="/admin"></breadcrumb-item>
      </breadcrumb>

      <nav class="nav">
        <div class="nav-left">
          <div class="nav-item">
            <h2 class="title">{{pageTitle}}</h2>
          </div>
        </div>
      </nav>

      <div class="the-content">

        <div class="columns">
          <div class="column is-6 is-offset-3">

            <div class="control">
              <label for="txtTitulo">Título</label>
              <input type="text" class="input" id="txtTitulo" maxlength="100" v-model="fData.title">
            </div>

            <div class="control">
              <label for="txtAjuda">Ajuda</label>
              <textarea id="txtAjuda" class="textarea" maxlength="300" v-model="fData.help"></textarea>
            </div>

            <div class="control">
              <h4>Disponível no app?</h4>
              <p class="control">
                <label class="radio">
                  Sim <input type="radio" name="mobile" :value="true" v-model="fData.mobile">
                </label>
                <label class="radio">
                  Não <input type="radio" name="mobile" :value="false" v-model="fData.mobile">
                </label>
              </p>
            </div>

            <div class="control">
              <label for="txtOrd">Ordenação</label>
              <input-number v-model="fData.order"></input-number>
            </div>

            <div class="has-text-right">
              <button
                class="button is-primary"
                :class="{ 'is-loading': btnDisable, 'is-disabled': btnDisable }"
                :disabled="btnDisable || $v.fData.$invalid"
                @click="save()"
              >Salvar</button>
            </div>

          </div>
        </div>

      </div>
      
    </div>

</template>

<script>
  import { required } from 'vuelidate/lib/validators'
  import { addQuestion, adminGetQuestion, adminUpdateQuestion } from '../api/questions-admin.service.js'

  export default {
    name: 'QuestionsAddPage',

    data () {
      return {
        pageTitle: 'Adicionar Pergunta',
        btnDisable: false,
        fData: {
          title: '',
          help: '',
          active: true,
          mobile: false,
          order: 0
        }
      }
    },

    validations: {
      fData: {
        title: {
          required
        }
      }
    },

    created () {
      if (this.$route.params.id) {
        this.pageTitle = 'Editar Pergunta'
        adminGetQuestion(this.$route.params.id)
          .then(
            success => {
              delete success.id
              delete success.createdAt
              delete success.updatedAt
              this.fData = { ...success }
            }
          )
      }
    },

    methods: {
      save() {
        this.btnDisable = true
        if (this.$route.params.id) {
          adminUpdateQuestion(this.$route.params.id, this.fData)
            .then(
              success => {
                this.btnDisable = false
                this.$router.push('/admin/perguntas')
              },
              error => {
                this.btnDisable = false
              }
            )
        } else {
          addQuestion(this.fData)
            .then(
              success => {
                this.btnDisable = false
                this.$router.push('/admin/perguntas')
              },
              error => {
                this.btnDisable = false
              }
            )
        }
      }
    }
  }
</script>