<template>
  <layout>
    <router-view></router-view>
  </layout>
</template>

<script>
  import layout from './partials/layout.vue'
  import { mapGetters } from 'vuex'

  export default {
    name: 'RootPage',

    components: { layout },

    computed: {
      ...mapGetters(['me'])
    },

    created () {
      if (this.me.role !== 'admin') {
        this.$router.push('/403')
      }
    },

    watch: {
      me: function(value) {
        if (value && value.role !== 'admin') {
          this.$router.push('/403')
        }
      }
    }

  }
</script>

<style>
  .control {
    margin: 25px 0;
  }
</style>
