<template lang="html">
  <div class="url-attach">
    <div class="video-list" v-if="mediatype == 'video'">
      <div class="video" v-for="(video, index) in previewMedia" :style="`background: url('${video.thumb}') no-repeat center;`">
        <button class="remove" @click="remove(index)"><span>&times;</span></button>
      </div>
    </div>
    <ul class="soundcloud-list" v-if="mediatype == 'audio'">
      <li v-for="(media, index) in previewMedia">
        <button class="remove" @click="remove(index)"><ficon name="close" class="vermelho-1" /></button>
        <div class="media-icon"><ficon name="audio" class="vermelho-1" /></div>
        <div class="media-info">
          <span class="media-name cinza-5">Audio nº {{index+1}}</span>
          <span class="media-url">{{media.url}}</span>
        </div>
      </li>
    </ul>
    <ul class="link-list" v-if="mediatype == 'link'">
      <li v-for="(media, index) in previewMedia">
        <button class="remove" @click="remove(index)"><ficon name="close" class="vermelho-1" /></button>
        <div class="media-info">
          <span class="media-name cinza-5">{{media.title}}</span>
          <span class="media-url">{{media.url}}</span>
        </div>
      </li>
    </ul>
    <form enctype="multipart/form-data" class="form-inline">
      <h1 v-if="mediatype == 'audio'">Insira seu áudio</h1>
      <h1 v-if="mediatype == 'video'">Insira seu vídeo</h1>
      <h1 v-if="mediatype == 'link'">Insira seu Link</h1>
      <div class="control">
        <input type="text" :placeholder="placeholderVal" class="input" v-model="link" />
      </div>
      <div v-if="mediatype == 'link'"class="control">
        <h1>Título do Link</h1>
        <input type="text" placeholder="Título que exibirá no saiba mais" class="input" v-model="title" />
      </div>
      <button class="button is-primary" :disabled="!validateUrl" @click="save($event)">Enviar link</button>
    </form>
  </div>
</template>

<script>
  import ficon from './ficons-component.vue'
  import { checkUrlSource } from '../api/helpers'
  import { saveMediaLink, getMediaLinks, deleteMediaLink, getVimeoMeta } from '../api/media-links.service'

  export default {
    name: "UrlAttach",
    components: { ficon },
    props: {
      mediatype: {
        type: String,
        required: true,
        validator: function(value) {
          return value == "audio" || value == "video" || value == "link"
        }
      },
      sources: {
        type: Array,
        default: function() {
          return []
        }
      },
      solutionId: {
        required: true
      }
    },
    data() {
      return {
        previewMedia: [],
        link: '',
        title: ''
      }
    },
    watch: {
      solutionId: function(value) {
        if (value) {
          this.getMedia(value);
        }
      }
    },
    computed: {
      validateUrl() {
        if (this.sources.length > 0) {
          return checkUrlSource(this.link, this.sources)
        }
        return true
      },
      placeholderVal() {
        if (this.mediatype == "audio") {
          return "Url do Soundcloud"
        }
        if (this.mediatype == "link") {
          return "Link a ser anexado..."
        }
        return "Url do Youtube ou Vimeo"
      }
    },
    methods: {
      youtubeId(url) {
        let yid = url.match(/(?:https?:\/{2})?(?:w{3}\.)?youtu(?:be)?\.(?:com|be)(?:\/watch\?v=|\/)([^\s&]+)/);
        if (yid) {
          return yid[1];
        }
        return "";
      },
      save(event) {
        event.preventDefault();
        saveMediaLink({ url: this.link, type: this.mediatype, title: this.title}, this.solutionId)
          .then(
            success => {
              let youtubeId = this.youtubeId(this.link);
              let data = success;
              if (youtubeId) {
                data.thumb = `https://img.youtube.com/vi/${youtubeId}/0.jpg`;
                this.previewMedia.push( data );
                this.link = "";
              } else {
                if (this.mediatype == "video") {
                  getVimeoMeta(this.link)
                  .then(
                    VimeoSuccess => {
                      data.thumb = VimeoSuccess.thumbnail_url;
                      this.previewMedia.push( data );
                      this.link = "";
                    }
                  )
                } else {
                  this.previewMedia.push( data );
                  this.link = "";
                  this.title = "";
                }
              }
            }
          )
      },
      remove(index) {
        if (this.previewMedia[index].id) {
          deleteMediaLink(this.solutionId, this.previewMedia[index].id)
            .then(
              success => {
                this.previewMedia.splice(index, 1);
              }
            )
        } else {
          this.previewMedia.splice(index, 1);
        }
      },
      getMedia(solutionId) {
        getMediaLinks(this.mediatype, solutionId)
          .then(
            success => {
              let dataArr = success.items;
              dataArr.map(data => {
                let youtubeId = this.youtubeId(data.url);
                if (youtubeId) {
                  data.thumb = `https://img.youtube.com/vi/${youtubeId}/0.jpg`;
                  this.previewMedia.push(data);
                } else {
                  if (this.mediatype == "video") {
                    getVimeoMeta(data.url)
                    .then(
                      VimeoSuccess => {
                        data.thumb = VimeoSuccess.thumbnail_url;
                        this.previewMedia.push( data );
                      }
                    )
                  } else {
                    this.previewMedia.push( data );
                    this.link = "";
                  }
                }
              })
            }
          )
      }
    }
  }
</script>

<style lang="scss">
  .url-attach {
    .soundcloud-list,
    .link-list {
      margin: 30px 0;
      padding: 0;
      flex-direction: column;
      li {
        list-style: none;
        display: flex;
        width: 100%;
        border-bottom: 1px solid #D6D3D3;
        padding: 20px 0;
        .remove {
          border: none;
          background: transparent;
          padding: 0;
          font-size: 24px;
          outline: none;
        }
        .media-icon {
          font-size: 40px;
        }
        .media-info {
          width: 100%;
          .media-name {
            display: block;
            font-weight: bold;
            font-size: 28px;
          }
          .media-url {
            font-size: 12px;
          }
          .sending {
            font-weight: bold;
          }
          .sended {
            font-weight: bold;
          }
        }
      }
    }
    form {
      .form-control {
        width: 500px;
      }
      .form-control-feedback {
        color: #999;
        padding-top: 6px;
        font-size: 18px;
      }
      .btn.btn-success {
        padding: 12px 30px;
      }
    }
    .video-list {
      display: flex;
      flex-flow: row wrap;
      margin-bottom: 30px;
      .video {
        background-size: cover !important;
        height: 160px;
        position: relative;
        margin: 20px;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 200px;
        max-width: 200px;
        .remove {
          outline: none;
          display: flex;
          color: #fff;
          width: 30px;
          height: 30px;
          background: #EF545C;
          font-weight: bold;
          position: absolute;
          top: -15px;
          right: -15px;
          font-size: 18px;
          border: none;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          padding: 0;
          border-radius: 50px;

        }
      }
    }
  }
</style>
