<template>

  <div class="main-content">
    <breadcrumb separator="›">
      <breadcrumb-item label="Início" to="/admin"></breadcrumb-item>
    </breadcrumb>

    <nav class="nav">
      <div class="nav-left">
        <div class="nav-item">
          <h2 class="title">Usuários <small>Total: {{ pagerCtrl.total }}</small></h2>
        </div>
      </div>
    </nav>

    <div class="the-content">
      <table class="table is-bordered is-striped">
        <tr>
          <th style="width: 25%;">Nome</th>
          <th style="width: 9%;">Favoritos</th>
          <th style="width: 9%;">Moedas</th>
          <th style="width: 9%;">Experiência</th>
          <!-- <th style="width: 6%;">Ação</th> -->
        </tr>

        <tr v-for="(node, index) in dataSource" :key="index">
          <td>{{ node.firstName }} {{ node.lastName }}</td>
          <td class="text-right">{{ node.favorites }}</td>
          <td class="text-right">{{ node.coins }}</td>
          <td class="text-right">{{ node.xp }}</td>
          <!--
          <td class="solution-actions">
          </td>
          -->
        </tr>
      </table>
    </div>

    <pagination :total="pagerCtrl.total" :change="getUsers" size="small" layout="pager"></pagination>
  </div>

</template>

<script>

import { adminGetUsers } from '../api/users-admin.service'
import moment from 'moment'
import { mapGetters } from 'vuex'

export default {
  name: 'Users',
  data() {
    return {
      dataSource: [],
      pagerCtrl: {
        limit: 50,
        skip: 0,
        total: 0
      }
    }
  },

  created() {
    this.getUsers()
  },

  methods: {
     getUsers(page = 1) {
      adminGetUsers(50, this.pagerCtrl.limit * (page - 1))
        .then(
          success => {
            this.pagerCtrl.limit = success.limit;
            this.pagerCtrl.total = (success.total.length == undefined) ? success.limit : success.total.length;
            this.dataSource = success.items;

            console.info(success);
          }
        )
    },

    formatDate(dateString, format) {
      if (!format) {
        format = "DD/MM/YYYY - H:mm:ss";
      }
      if (dateString != null) {
        return moment(dateString).format(format);
      }
      return "";
    }
  }

}
</script>

<style>
.text-right {
  text-align: right;
}
</style>
